@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ヘッダー */

header {
    width: 200px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin: 40px auto 80px;
}

.site-header__logo img {
    width: 100%;
    display: block;
    padding: 15px;
}

#menu-btn-check {
    display: none;
}

.menu-content {}

.site-nav {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 250px;
}

.site-nav ul {
    list-style: none;
    font-size: .8em;
    font-weight: bold;
    margin: 3px;
}

.site-nav ul li {
    text-transform: uppercase;
    margin: 20px 0px;
}

.header-sns {
    display: flex;
    flex-grow: 0;
    justify-content: center;
}

.header-sns img {
    display: block;
    padding: 15px;
    /* display: block; */
    /* padding: 10px; */
    /* margin-bottom: 20px; */
}





/* メインビジュアル */

.container {
    margin-left: 200px;
    position: relative;
}

.main-visual {
    background: url(../img/mv-bg@2x.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-visual img {
    height: 80vh;
    max-height: 700px;
    width: auto;
}

.main-visual-textbox {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.mv-text-numdate {
    font-size: 1rem;
    z-index: 0;
    position: relative;
    display: inline-flex;
    margin: 0.5rem;
}

.main-text {
    font-size: max(3.2vh, 2rem);
    position: relative;
    font-weight: bold;
    display: block;
}

.main-text p {
    display: inline-flex;
    background-color: #fff;
}

.mv-text-numdate p::after {
    content: "";
    background-color: #fff;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.mv-text1 {
    display: inline-flex;
    position: relative;
    z-index: 0;
    margin: 0.5rem;
}

.mv-text1::after {
    content: "";
    background-color: #fff;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.mv-text2 {
    /* display: inline-flex; */
    /* display: block; */
    position: relative;
    z-index: 0;
    margin: 0.5rem
}

.mv-text2-1 {
    display: inline-flex;
}

/* .mv-text2 ::after {
    display: inline-flex;
    content: "";
    background-color: #fff;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
} */





/* spヘッダー */
@media screen and (max-width: 768px) {
    header {
        height: 60px;
        justify-content: center;
        z-index: 1;
        width: 100%;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
    }

    h1 {
        width: 140px;
        margin: 0 0 0 20px;
    }

    .menu-content {
        flex-direction: column;
        justify-content: center;
        display: flex;
    }    


    /* spメインビジュアル */
    .container {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .main-visual img {
        /* height: calc(100vh - 60px); */
        position: relative;
        display: flex;
        animation: mv 1s .5s both;
    }

    /* SP-MVテキストボックス */

    .main-visual-textbox {
        position: absolute;
        left: 4%;
        bottom: 48px;
    }


    /* ハンバーガーメニュー */

    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        z-index: 90;
        background-color: #fff;
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #000;
        position: absolute;
    }

    .menu-btn span:before {
        bottom: 8px;
    }

    .menu-btn span:after {
        top: 8px;
    }

    #menu-btn-check:checked~.menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }

    #menu-btn-check:checked~.menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #menu-btn-check:checked~.menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* spメニュー開閉 */
    .menu-content {
        width: 100%;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        z-index: 80;
    }

    .site-nav {
        flex-grow: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .site-nav ul {
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-content ul {
    }

    .header-sns {
        text-align: center;
        justify-content: center;
        padding: 10px;
        flex-grow: 1;
    }

    .header-sns a {
        margin: 0 8px;
    }

    .header-sns img {
        display: block;
        max-width: 100%;
    }

    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        transition: all 0.5s;
    }

    #menu-btn-check:checked~.menu-content {
        left: 0;
    }
}



/* pcバックナンバー */

.backnumbers {
    background-color: #f8f8f8;
    z-index: 3;
}

h2 {
    /* z-index: 2; */
    padding: 2em;
    margin-left: 200px;
    font-weight: normal;
    line-height: 0.8;
}

h2::first-line {
    font-size: 1em;
    font-weight: bold;
}

h2 span {
    font-size: .5em;
    font-weight: normal;
}


.bn-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    justify-content: center;
    list-style: none;
}

.bn-list li {
    flex-basis: 50%;
    /* justify-content: center; */
}

.bn-list-item {
    padding: 60px 40px;
}

.bn-list li a {
    text-decoration: none;
    color: #000;
}

.bn-list img {
    width: 60%;
    max-width: 300px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    display: block;
}

.bn-list-box {
    margin-top: 4em;
    
}

.bn-list-box span {
    display: block;
}

.bn-list-box .date {
    margin-bottom: .5em;
}
.bn-list-box .namber {
    margin-bottom: .5em;
}

.bn-list-box .title {
    font-size: 1em;
    font-weight: bold;
}

.bn-101 {
    background-color: #ecf4f9;
}
.bn-100 {
    background-color: #fbf3d2;
}
.bn-99 {
    background-color: #f9f2eb;
}
.bn-98 {
    background-color: #fae8c2;
}
.bn-97 {
    background-color: #e2efe7;
}
.bn-96 {
    background-color: #f2f5fb;
}



/* sp バックナンバー */

@media screen and (max-width: 768px) {
   h2 {
    margin-left: 0;
    font-size: .8em;
   } 

   .bn-list {
    margin-left: 0;
    display: flex;
   }
   .bn-list li {
    flex-basis: 100%;
    /* justify-content: center; */
    /* margin: 0 auto; */
   }
   .bn-list img {
    display: block;
   }

}